html{
	scroll-behavior: smooth;
}

html, body{
	height:100%; 
	min-height: 100%
	margin:0;
}

header{
    background: rgba(248, 235, 215, 0.9);
	font-family: 'Permanent Marker';
	margin-top: -50px;
	margin-left: -250px;
	margin-right: -250px;
	padding-top: 50px;
	padding-bottom: 25px;
	min-height: 150px;
}

header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li{
	float: center;
	display: inline-block;
	margin-left: 30px;
	padding: 40px 30px 0 30px;
}

header li a{
	color: #81652E;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 30px;
}

#menu-items i{
	color: #81652E;
	font-size: 48px;
}

header .my-Name{
	float: left;
}

header .my-Name h1{
	margin-top: 0;
	padding-top: 15px;
}

header .my-Name h1 a{
	font-size: 48px;
	font-family: 'Permanent Marker';
	color: #81652E;
	text-decoration: none;
}

header nav{
	float: center;
	margin-top: 15px;
}

header li a:hover{
/*	background-color: black;*/
	color: #FFC300;
}

#menu-items{
	float: right;
	margin-right: 1px;
}

.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

/*.slideshow-container, .slideshow-container img{
	margin: 0px auto;
	text-align: center;
}

.slides{
	display: none;
}*/

.index-promo-table{
	margin: 0px auto;
	text-align: center;
	border-collapse: separate; 
	border-spacing: 30px 20px
}

.index-promo-table td{
	font-size: 18px;
}

/*.index-promo-table td img{
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg); 
	transform: rotate(90deg);
}*/

.page-body{
	background: rgba(248, 235, 215, 0.9);;
	margin: 50px 25px;
}

.page-body h1{
	font-family: 'Permanent Marker';
	font-size: 28px;
	color: #81652E;
}

.page-contents{
	margin: 1.5em;
}

.food-container {
	display: flex;
	margin-top: 75px;
	margin-bottom: 75px;
}

/*.gallery-item {
	position: relative;
	display: block;
	flex: 1 1 0px;
	transition: transform 500ms;
	margin: 0 5px;
}*/

.food-menu {
	position: relative;
	display: block;
	flex: 1 1 0px;
	margin: 5px;
	border: 1px solid #ccc;
	transition: transform 500ms;
	/*float: left;*/
	width: 180px;
	background: #cf0830;
}

.food-menu:hover {
	border: 1px solid #777;
}

.food-menu img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.food-title{
	text-align: center;
	font-weight: bold;
	padding: 5px;
}

.food-details{
	text-align: center;
}

.food-details .food-price{
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

/*.desc {
	padding: 5px;
	text-align: center;
}*/

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 1em 1em;
    cursor: pointer;
}

.btn-food {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-food:hover {
    background-color: #2D9CDB;
}


/*.show-cart li {
	display: flex;
}*/

/*.card {
	margin-bottom: 20px;
}
.card-img-top {
	width: 200px;
	height: 200px;
	align-self: center;
}*/

/*.gallery {
	display: flex;
	margin-top: 75px;
	margin-bottom: 75px;
}

.gallery-item {
	position: relative;
	display: block;
	flex: 1 1 0px;
	transition: transform 500ms;
	margin: 0 5px;
}

.gallery:focus-within .gallery-item,
.gallery:hover .gallery-item{
	transform: translateX(-25%);
}

.gallery-item:focus ~ .gallery-item,
.gallery-item:hover ~ .gallery-item {
	transform: translateX(25%);
}

.gallery .gallery-item:focus,
.gallery .gallery-item:hover {
	transform: scale(1.5);
	z-index: 1;
}

.image-container .gallery-item img {
	display: block;
	padding: 2px;
	width: 100%;
	object-fit: fill;
}

.gallery a{
	text-align: center;
}

.img-desc {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;

	
	transition: opacity .2s, visibility .2s;
}

.image-container:hover .image-desc {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 100%) {
	.gallery {
		width: 100%;
	}
}*/

p{
	color: black;
}

body{
	margin-left: 7em;
	margin-right: 7em;
	background: #FFBD00;
	color: white;
	font-family: Helvetica;
	overflow-x: hidden; /*hides the overflow horizontally. Disable later if it becomes a big problem*/
	overflow-y: scroll;
  	display: flex; 
  	flex-direction: column; 
}

footer{
	clear: both;
    background: rgba(248, 235, 215, 0.9);
	color: #81652E;
	font-family: 'Permanent Marker';
	text-align: center;
	height: 250px;
	margin-top: auto;
/*	margin-bottom: 150px;*/
	margin-left: -225px;
	margin-right: -250px;/*
	padding: 15px;*/
}